#### Import Necessary Libraries

In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns
import math

In [15]:
df=pd.read_csv('FoodBalanceSheets_E_Africa_NOFLAG.csv', encoding = 'latin_1')

## Answer the following questions based on the African food production dataset provided by the FAO website already provided

#### Question 11
What is the total sum of Animal Fat produced in 2014 and 2017 respectively?

In [16]:
df.groupby('Item')[['Y2014', 'Y2017']].sum().filter(like='Animal fats', axis=0)

                 Y2014      Y2017
Item
Animal fats  209460.54  269617.53

#### Question 12
What is the mean and standard deviation across the whole dataset for the year 2015 to 3 decimal places?

In [18]:
np.round((df['Y2015'].mean(), df['Y2015'].std()),3)

array([ 135.236, 1603.404])

#### Question 13
What is the total number and percentage of missing data in 2016 to 2 decimal places?

In [20]:
df['Y2016'].isnull().sum(), np.round(((df['Y2016'].isnull().sum() / all_data['Y2016'].count())*100),2)

(1535, 2.58)

#### Question 14
Which year had the highest correlation with ‘Element Code’?

In [48]:
df.corr().filter(like='Element Code', axis=0)[['Y2014','Y2015','Y2016','Y2017','Y2018']].idxmax(axis=1)

Element Code    Y2014
dtype: object

#### Question 15
What year has the highest sum of Import Quantity?

In [51]:
df.groupby('Element').sum().filter(like='Import Quantity', axis=0)[['Y2014','Y2015','Y2016','Y2017','Y2018']].idxmax(axis=1)

Element
Import Quantity    Y2017
dtype: object

#### Question 16
What is the total number of the sum of Production in 2014?

In [55]:
for i in df.groupby('Element')['Y2014'].sum().filter(like='Production', axis=0):
    print(f'{i:,.2f}')

1,931,287.75

#### Question 17
Which of these elements had the highest sum in 2018?

Hint-  Select columns ‘Y2018’ and ‘Element’, Perform a groupby operation on ‘Element’ on the selected dataframe and answer the  question.

In [71]:
df.groupby('Element')['Y2018'].count().sort_values(ascending=False)

Element
Domestic supply quantity                  5256
Fat supply quantity (g/capita/day)        4987
Protein supply quantity (g/capita/day)    4986
Food supply (kcal/capita/day)             4969
Import Quantity                           4945
Food                                      4913
Food supply quantity (kg/capita/yr)       4877
Residuals                                 4616
Stock Variation                           4217
Production                                3846
Export Quantity                           3646
Losses                                    2008
Processing                                2003
Other uses (non-food)                     1655
Feed                                      1225
Seed                                       758
Tourist consumption                        555
Total Population - Both sexes               45
Name: Y2018, dtype: int64

#### Question 18
Which of these elements had the 3rd lowest sum in 2018?

Hint-  Select columns ‘Y2018’ and ‘Element’, Perform a groupby operation on ‘Element’ on the selected dataframe and answer the  question.

In [73]:
df.groupby('Element')['Y2018'].count().sort_values()

Element
Total Population - Both sexes               45
Tourist consumption                        555
Seed                                       758
Feed                                      1225
Other uses (non-food)                     1655
Processing                                2003
Losses                                    2008
Export Quantity                           3646
Production                                3846
Stock Variation                           4217
Residuals                                 4616
Food supply quantity (kg/capita/yr)       4877
Food                                      4913
Import Quantity                           4945
Food supply (kcal/capita/day)             4969
Protein supply quantity (g/capita/day)    4986
Fat supply quantity (g/capita/day)        4987
Domestic supply quantity                  5256
Name: Y2018, dtype: int64

#### Question 19
What is the total Import Quantity in Algeria in 2018?

In [92]:
df[df['Area']=='Algeria'].groupby('Element')[['Element','Y2018']].sum().filter(like='Import Quantity', axis=0)

                    Y2018
Element
Import Quantity  36238.29

#### Question 20
What is the total number of unique countries in the dataset?

In [80]:
len(df['Area'].unique())

49