#### Import Necessary Libraries

In [4]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns
import math

In [5]:
df=pd.read_csv('FoodBalanceSheets_E_Africa_NOFLAG.csv', encoding = 'latin_1')

## Answer the following questions based on the African food production dataset provided by the FAO website already provided

#### Question 1
Select columns ‘Y2017’ and ‘Area’, Perform a groupby operation on ‘Area’.  Which of these Areas had the 7th lowest sum in 2017?

In [48]:
df.groupby('Area')[['Area', 'Y2017']].sum().sort_values(by='Y2017',ascending=True).head(7)

                          Y2017
Area
Sudan (former)             0.00
Ethiopia PDR               0.00
Comoros                   59.84
Seychelles               442.34
Sao Tome and Principe  12662.63
Cabo Verde             14650.74
Guinea-Bissau          19102.77

#### Question 5
Select columns ‘Y2017’ and ‘Area’, Perform a groupby operation on ‘Area’.  Which of these Areas had the highest sum in 2017?

In [11]:
df.groupby('Area')[['Area', 'Y2017']].sum().sort_values(by='Y2017',ascending=False).head(1)

              Y2017
Area
Nigeria  1483268.23

#### Question 7
Perform a groupby operation on ‘Element’.  What year has the highest sum of Stock Variation?

In [20]:
df.groupby('Element')[['Y2014','Y2015','Y2016','Y2017','Y2018']].sum().filter(like='Stock', axis=0).idxmax(axis=1)

Element
Stock Variation    Y2014
dtype: object

#### Question 8
What is the mean and standard deviation across the whole dataset for the year 2017 to 2 decimal places?

In [24]:
np.round((df['Y2017'].mean(), df['Y2017'].std()),2)

array([ 140.92, 1671.86])

In [26]:
S = [['him', 'sell'], [90, 28, 43]]

S[0][1][1]

'e'

#### Question 13
What is the total number and percentage of missing data in 2014 to 3 decimal places?

In [31]:
df['Y2014'].isnull().sum(), np.round(((df['Y2014'].isnull().sum() / df['Y2014'].count())*100),3)

(1589, 2.677)

#### Question 14
Which year had the least correlation with ‘Element Code’?

In [35]:
df.corr().filter(like='Element Code', axis=0)[['Y2014','Y2015','Y2016','Y2017','Y2018']].idxmin(axis=1)

Element Code    Y2016
dtype: object

#### Question 15
What is the total number of unique countries in the dataset?

In [36]:
len(df['Area'].unique())

49

#### Question 18
Perform a groupby operation on ‘Element’.  What is the total number of the sum of Processing in 2017?

In [38]:
df.groupby('Element')[ 'Y2017'].sum().filter(like='Processing', axis=0)

Element
Processing    292836.0
Name: Y2017, dtype: float64

#### Question 19
What is the total Protein supply quantity in Madagascar in 2015?

In [45]:
df[df['Area']=='Madagascar'].groupby('Element')[['Element','Y2015']].sum().filter(like='Protein', axis=0)

                                         Y2015
Element
Protein supply quantity (g/capita/day)  173.05

#### Question 20
Answer the following questions based on the African food production dataset provided by the FAO website already provided

What is the total sum of Wine produced in 2015 and 2018 respectively?

In [47]:
df.groupby('Item')[['Y2015', 'Y2018']].sum().filter(like='Wine', axis=0)

                             Y2015      Y2018
Item
Fruits - Excluding Wine  282857.19  290381.46
Wine                       4251.81    4039.32