#### Import Necessary Libraries

In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns
import math

In [2]:
all_data=pd.read_csv('FoodBalanceSheets_E_Africa_NOFLAG.csv', encoding = 'latin_1')

#### Answer the following questions based on the African food production dataset provided by the FAO website already provided

#### Question 11
What is the total sum of Animal Fat produced in 2014 and 2017 respectively?

Hint:

Perform a groupby sum aggregation on ‘Item’

In [3]:
all_data.groupby('Item')[['Y2014', 'Y2017']].sum().filter(like='Animal fats', axis=0)

                 Y2014      Y2017
Item
Animal fats  209460.54  269617.53

#### Question 12
What is the mean and standard deviation across the whole dataset for the year 2015 to 3 decimal places?

In [4]:
np.round((all_data['Y2015'].mean(), all_data['Y2015'].std()),3)

array([ 135.236, 1603.404])

#### Question 13
What is the total number and percentage of missing data in 2016 to 2 decimal places?

In [5]:
(all_data['Y2016'].isnull().sum(), np.round(((all_data['Y2016'].isnull().sum() / all_data['Y2016'].count())*100),2))

(1535, 2.58)

In [6]:
(all_data['Y2016'].isnull().sum() / all_data['Y2016'].count())*100

2.583827093994075

#### Question 14
Which year had the highest correlation with ‘Element Code’?

In [7]:
all_data.corr().filter(like='Element Code', axis=0)

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Element Code,-0.000209,-0.024683,1.0,0.024457,0.023889,0.023444,0.024254,0.024279

#### Question 15
What year has the highest sum of Import Quantity?

Hint- Perform a groupby operation on ‘Element’ and use the resulting Dataframe to answer the question

In [8]:
all_data.groupby('Element').sum().filter(like='Import Quantity', axis=0)

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Element,,,,,,,,
Import Quantity,688174,13795966,28834929,274144.48,267018.46,286582.78,294559.09,287997.09

#### Question 16
What is the total number of the sum of Production in 2014?

Hint- Perform a groupby operation on ‘Element’ and use the resulting Dataframe to answer the question

In [9]:
all_data.groupby('Element')['Y2014'].sum().filter(like='Production', axis=0)

Element
Production    1931287.75
Name: Y2014, dtype: float64

#### Question 17
Which of these elements had the highest sum in 2018?

Hint-  Select columns ‘Y2018’ and ‘Element’, Perform a groupby operation on ‘Element’ on the selected dataframe and answer the  question.

In [10]:
all_data.groupby('Element')['Y2018'].count()

Element
Domestic supply quantity                  5256
Export Quantity                           3646
Fat supply quantity (g/capita/day)        4987
Feed                                      1225
Food                                      4913
Food supply (kcal/capita/day)             4969
Food supply quantity (kg/capita/yr)       4877
Import Quantity                           4945
Losses                                    2008
Other uses (non-food)                     1655
Processing                                2003
Production                                3846
Protein supply quantity (g/capita/day)    4986
Residuals                                 4616
Seed                                       758
Stock Variation                           4217
Total Population - Both sexes               45
Tourist consumption                        555
Name: Y2018, dtype: int64

#### Question 18
Which of these elements had the 3rd lowest sum in 2018?

Hint-  Select columns ‘Y2018’ and ‘Element’, Perform a groupby operation on ‘Element’ on the selected dataframe and answer the  question.

In [11]:
all_data.groupby('Element')['Y2018'].count()

Element
Domestic supply quantity                  5256
Export Quantity                           3646
Fat supply quantity (g/capita/day)        4987
Feed                                      1225
Food                                      4913
Food supply (kcal/capita/day)             4969
Food supply quantity (kg/capita/yr)       4877
Import Quantity                           4945
Losses                                    2008
Other uses (non-food)                     1655
Processing                                2003
Production                                3846
Protein supply quantity (g/capita/day)    4986
Residuals                                 4616
Seed                                       758
Stock Variation                           4217
Total Population - Both sexes               45
Tourist consumption                        555
Name: Y2018, dtype: int64

#### Question 19
What is the total Import Quantity in Algeria in 2018?

In [12]:
all_data.loc[all_data['Area']=='Algeria']

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28
...,...,...,...,...,...,...,...,...,...,...,...,...
1308,4,Algeria,2899,Miscellaneous,5142,Food,1000 tonnes,75.00,77.00,78.00,80.00,82.00
1309,4,Algeria,2899,Miscellaneous,645,Food supply quantity (kg/capita/yr),kg,1.93,1.93,1.93,1.93,1.93
1310,4,Algeria,2899,Miscellaneous,664,Food supply (kcal/capita/day),kcal/capita/day,2.00,2.00,2.00,2.00,2.00
1311,4,Algeria,2899,Miscellaneous,674,Protein supply quantity (g/capita/day),g/capita/day,0.06,0.06,0.06,0.06,0.06
1312,4,Algeria,2899,Miscellaneous,684,Fat supply quantity (g/capita/day),g/capita/day,0.03,0.03,0.03,0.03,0.03

#### Question 20
What is the total number of unique countries in the dataset?

In [13]:
all_data.groupby('Area')['Y2018'].sum().count()

49