#### Import Necessary Libraries

In [4]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns
import math

In [5]:
df=pd.read_csv('FoodBalanceSheets_E_Africa_NOFLAG.csv', encoding = 'latin_1')

## Answer the following questions based on the African food production dataset provided by the FAO website already provided

#### Question 1
Select columns ‘Y2017’ and ‘Area’, Perform a groupby operation on ‘Area’.  Which of these Areas had the 7th lowest sum in 2017?

In [9]:
df.groupby('Area')[['Area', 'Y2017']].sum().sort_values(by='Y2017',ascending=True)

                                  Y2017
Area
Sudan (former)                     0.00
Ethiopia PDR                       0.00
Comoros                           59.84
Seychelles                       442.34
Sao Tome and Principe          12662.63
Cabo Verde                     14650.74
Guinea-Bissau                  19102.77
Lesotho                        21267.96
Botswana                       22101.30
Djibouti                       22729.91
Gambia                         23154.18
Gabon                          27979.64
Liberia                        29342.20
Namibia                        29874.89
Central African Republic       29937.00
Congo                          41181.68
Togo                           49841.88
Mauritius                      51114.83
Eswatini                       54343.33
Sierra Leone                   55311.33
Chad                           71594.68
Rwanda                         73663.69
Zimbabwe                       75919.34
Senegal                        95681.15
Guinea                         98138.87
Burkina Faso                  101855.07
Zambia                        103223.77
Tunisia                       124167.20
Benin                         124771.22
Niger                         126707.58
Madagascar                    131197.73
Mali                          149928.33
Mauritania                    156665.46
Mozambique                    161407.98
Malawi                        181098.71
Uganda                        213950.38
Côte d'Ivoire                 224599.01
Angola                        229159.57
Cameroon                      232030.43
Sudan                         239931.92
Kenya                         264660.66
United Republic of Tanzania   322616.85
Algeria                       325644.27
Ghana                         337599.06
Morocco                       388495.36
Ethiopia                      448683.76
South Africa                  517590.54
Egypt                         866379.92
Nigeria                      1483268.23

#### Question 5
Select columns ‘Y2017’ and ‘Area’, Perform a groupby operation on ‘Area’.  Which of these Areas had the highest sum in 2017?

In [11]:
df.groupby('Area')[['Area', 'Y2017']].sum().sort_values(by='Y2017',ascending=False).head(1)

              Y2017
Area
Nigeria  1483268.23

#### Question 7
Perform a groupby operation on ‘Element’.  What year has the highest sum of Stock Variation?

In [20]:
df.groupby('Element')[['Y2014','Y2015','Y2016','Y2017','Y2018']].sum().filter(like='Stock', axis=0).idxmax(axis=1)

Element
Stock Variation    Y2014
dtype: object

#### Question 8
What is the mean and standard deviation across the whole dataset for the year 2017 to 2 decimal places?

In [24]:
np.round((df['Y2017'].mean(), df['Y2017'].std()),2)

array([ 140.92, 1671.86])

#### Question 11
What is the total sum of Animal Fat produced in 2014 and 2017 respectively?

In [19]:
df.groupby('Item')[['Y2014', 'Y2017']].sum().filter(like='Animal fats', axis=0)

                 Y2014      Y2017
Item
Animal fats  209460.54  269617.53

#### Question 13
What is the total number and percentage of missing data in 2016 to 2 decimal places?

In [20]:
df['Y2016'].isnull().sum(), np.round(((df['Y2016'].isnull().sum() / all_data['Y2016'].count())*100),2)

(1535, 2.58)

#### Question 14
Which year had the highest correlation with ‘Element Code’?

In [48]:
df.corr().filter(like='Element Code', axis=0)[['Y2014','Y2015','Y2016','Y2017','Y2018']].idxmax(axis=1)

Element Code    Y2014
dtype: object

#### Question 15
What year has the highest sum of Import Quantity?

In [51]:
df.groupby('Element').sum().filter(like='Import Quantity', axis=0)[['Y2014','Y2015','Y2016','Y2017','Y2018']].idxmax(axis=1)

Element
Import Quantity    Y2017
dtype: object

#### Question 16
What is the total number of the sum of Production in 2014?

In [55]:
for i in df.groupby('Element')['Y2014'].sum().filter(like='Production', axis=0):
    print(f'{i:,.2f}')

1,931,287.75

#### Question 17
Which of these elements had the highest sum in 2018?

Hint-  Select columns ‘Y2018’ and ‘Element’, Perform a groupby operation on ‘Element’ on the selected dataframe and answer the  question.

In [71]:
df.groupby('Element')['Y2018'].count().sort_values(ascending=False)

Element
Domestic supply quantity                  5256
Fat supply quantity (g/capita/day)        4987
Protein supply quantity (g/capita/day)    4986
Food supply (kcal/capita/day)             4969
Import Quantity                           4945
Food                                      4913
Food supply quantity (kg/capita/yr)       4877
Residuals                                 4616
Stock Variation                           4217
Production                                3846
Export Quantity                           3646
Losses                                    2008
Processing                                2003
Other uses (non-food)                     1655
Feed                                      1225
Seed                                       758
Tourist consumption                        555
Total Population - Both sexes               45
Name: Y2018, dtype: int64

#### Question 18
Which of these elements had the 3rd lowest sum in 2018?

Hint-  Select columns ‘Y2018’ and ‘Element’, Perform a groupby operation on ‘Element’ on the selected dataframe and answer the  question.

In [73]:
df.groupby('Element')['Y2018'].count().sort_values()

Element
Total Population - Both sexes               45
Tourist consumption                        555
Seed                                       758
Feed                                      1225
Other uses (non-food)                     1655
Processing                                2003
Losses                                    2008
Export Quantity                           3646
Production                                3846
Stock Variation                           4217
Residuals                                 4616
Food supply quantity (kg/capita/yr)       4877
Food                                      4913
Import Quantity                           4945
Food supply (kcal/capita/day)             4969
Protein supply quantity (g/capita/day)    4986
Fat supply quantity (g/capita/day)        4987
Domestic supply quantity                  5256
Name: Y2018, dtype: int64

#### Question 19
What is the total Import Quantity in Algeria in 2018?

In [92]:
df[df['Area']=='Algeria'].groupby('Element')[['Element','Y2018']].sum().filter(like='Import Quantity', axis=0)

                    Y2018
Element
Import Quantity  36238.29

#### Question 20
What is the total number of unique countries in the dataset?

In [80]:
len(df['Area'].unique())

49